---
layout: default
---

.section.hero.container-fluid
  .row
    h1.heading.text-center The best in Python to get your project done.

  .container
    .profile.row
      .image.col-lg-3
        img(src="/assets/images/img-vitaliy.jpg" alt="Vitaliy Podoba" width="300" height="300")
      .information.col-lg-9
        .row
          .col-lg-5
            h2.name Vitaliy Podoba
            h4.title Top-notch Python coder
          .col-lg-7.text-right
            .btn.btn-primary Urgent Hire? Call us at 123 4567

        .row
          .skill-list.col-lg-12.text-center
            .skill.python
              strong Python
              span 12 years
            .skill.zope
              strong Zope
              span 8 years
            .skill.plone
              strong Plone
              span 8 years
            .skill.django
              strong Django
              span 7 years
            .skill.php
              strong PHP
              span 13 years
            .skill.html
              strong HTML
              span 14 years
            .skill.css
              strong CSS
              span 14 years
            .skill.javascript
              strong JS
              span 14 years

section.container
  .profile.row
    .education.col-lg-3
      strong EDUCATION
      .logo.text-center
        img(src="/assets/images/ivan-franko-university-lviv.png" alt="Ivan Franko National University of Lviv" width="140" height="150")
      span.university-name.text-center Ivan Franko National University of Lviv
    .quote.col-lg-9
      i.quote-icon
      blockquote
        | I can help you make more profit and save your time by means of
        | programming approaches and web technologies. Deeply care about your
        | business related concerns while hiding all the technical stuff from
        | your eyes.

  .past-clients.row
    .col-lg-3
      strong PAST CLIENTS:
    .col-lg-9
      p Martin Schoel, Quintagroup, Softformance, Choose Help, EU Business News, +4 others

section.projects
  .heading.text-center
    h2 Featured Projects
    h4 Handpicked Python Jobs by Vitaliy

  article.project.project-1
    .container
      .row
        .content.col-lg-6
          header
            h3.title CHOOSE HELP / MARTIN SCHOEL UNITED KINGDOM
            h5.summary Extensive
          .desc
            p
              | Choosehelp is one of the leading Drug Rehab and Addiction Treatment
              | online resources in US. Working together with client on new portal
              | redesign, after more than 1 year of hard work, we were able to raise
              | context ads revenue 10x times, significantly improve side speed and
              | continuously increase visitors volume on the site.

            p
              | At this moment we, with ChooseHelp founders, are actively working on
              | new ChooseHelp country versions and adding more portal sections to
              | provide even more assistance to our users.

          .technologies
            p Technology Used

            .list
              span Python
              span Django
              span Zope
              span HTML

        .image.col-lg-6
          footer
            img(src="/assets/images/choosehelp_mobile.png" alt="")

  article.project.project-2
    .container
      .row
        .content.col-lg-6
          header
            h3.title VIRTUAL NETWORK CONSULT GERMANY
            h5.summary Plone Development &amp;<br>Open Source Integration
          .desc
            p
              | For Virtual Network Consult (VNC), Germany located Business Cloud
              | Integrator company, we developed prototype for their VNCPortal –
              | Cloud distributed solution for businesses. VNCportal aggregates
              | knowledge in one central place. With streams, casts and wikis it
              | provides the perfect tools to create, share and discuss ideas and
              | knowledge.

          .technologies
            p Technology Used

            .list
              span Python
              span Django
              span Zope

        .image.col-lg-6
          footer
            img(src="/assets/images/vnc_mac.png" alt="")

  article.project.project-3
    .container
      .row
        .content.col-lg-6
          header
            h3.title RAINBOWRIDERS DENMARK
            h5.summary Built on Plone 4 CMS via Diazo
          .desc
            p
              | Overall project was a success and we were able to finish it
              | 100% already after first round of client feedback!

          .technologies
            p Technology Used

            .list
              span Python
              span Django
              span Zope
              span HTML

        .image.col-lg-6
          footer
            img(src="/assets/images/rainbowMBP.png" alt="")

section.testimonials
  .heading.text-center
    h2 Trusted by Clients Worldwide
    h4 We love working with the best. (And they love working with us, too!)
  .container
    .logos.row.text-center
      .col-lg-3
        img(src="/assets/images/logo-bloomberg.svg" alt="Bloomberg Businessweek")
      .col-lg-3
        img(src="/assets/images/logo-usatoday.svg" alt="USA Today")
      .col-lg-3
        img(src="/assets/images/logo-fortune.svg" alt="Fortune")
      .col-lg-3
        img(src="/assets/images/logo-mashable.svg" alt="Mashable")

    .quotes.row
      .quote.col-lg-4
        article.pull-left
          blockquote
            | Vitaly is an outstanding python developer with great Zope/Plone
            | skills… what really adds to his potential is the ability to work
            | well with top-level assignments and come up with his own detailed
            | solutions.
          footer
            img.author-icon(src="/assets/images/img-martin-testimonial.jpg" alt="")
            span.author-name
              strong Martin Schoel
              | CEO – ChooseHelp.com
      .quote.col-lg-4
        article
          blockquote
            | Vitaly is an outstanding python developer with great Zope/Plone
            | skills… what really adds to his potential is the ability to work
            | well with top-level assignments and come up with his own detailed
            | solutions.
          footer
            img.author-icon(src="/assets/images/img-martin-testimonial.jpg" alt="")
            span.author-name
              strong Martin Schoel
              | CEO – ChooseHelp.com
      .quote.col-lg-4
        article.pull-right
          blockquote
            | Vitaly is an outstanding python developer with great Zope/Plone
            | skills… what really adds to his potential is the ability to work
            | well with top-level assignments and come up with his own detailed
            | solutions.
          footer
            img.author-icon(src="/assets/images/img-martin-testimonial.jpg" alt="")
            span.author-name
              strong Martin Schoel
              | CEO – ChooseHelp.com
