@font-face {
  font-family: "Gotham";
  src: inline-font-files('Gotham-Book.woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Gotham";
  src: inline-font-files('Gotham-Medium.woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gotham";
  src: inline-font-files('Gotham-Bold.woff');
  font-style: normal;
  font-weight: 500;
}

