@function convert-to-rem($value, $base-value: $font-size-base)  {
  $value: $value / $base-value * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: convert-to-rem($size);
}

