@import "bootstrap-compass";
@import "bootstrap-variables";
@import "compass";
@import "bootstrap";
@import "mixins";
@import "fonts";

html { font-size: 16px; }

.btn-default {
  @include button-size(0, 0, 20px, 60px, 3px);
  width: 200px;
  border: 0;
}

.btn-primary {
  @include button-size(0, 0, 20px, 70px, 3px);
  width: 417px;
  font-weight: 200;

  &, &:hover, &:active {
    color: rgb(6, 125, 84);
    border-color: rgb(6, 125, 84);
    background: none;
    box-shadow: none;
  }
}

.skill-list {
  overflow: hidden;
  margin-top: 30px;

  .skill {
    display: block;
    width: 100px;
    height: 140px;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 0 2.5px;
    text-align: center;

    &.python { background-image: inline-image('languages-python.svg'); }
    &.zope { background-image: inline-image('languages-zope.svg'); }
    &.plone { background-image: inline-image('languages-plone.svg'); }
    &.django { background-image: inline-image('languages-django.svg'); }
    &.php { background-image: inline-image('languages-php.svg'); }
    &.html { background-image: inline-image('languages-html.svg'); }
    &.css { background-image: inline-image('languages-css.svg'); }
    &.javascript { background-image: inline-image('languages-javascript.svg'); }

    strong {
      margin: 100px 0 0;
      @include font-size(16px);
      color: $gray-base;
      text-transform: uppercase;
    }

    span {
      margin: 6px 0 0;
      @include font-size(12px);
      color: rgba(0, 0, 0, .498039);
    }

    strong, span {
      display: block;
      line-height: 1;
    }
  }
}

.site-header {
  height: 80px;
  line-height: 80px;
  background: white;
  @include box-shadow(rgba(black, 0.298039) 0px 2px 3px 0px);

  .logo {
    height: 80px;
    width: 80px;
    background: black;
    float: left;
    text-align: center;
  }

  .title {
    height: 80px;
    float: left;
    margin-left: 10px;
  }

  .logo, .title {
    img { vertical-align: middle; }
  }

  .text-cta {
    width: auto;
    @include font-size(14px);
    font-family: $font-family-sans-serif;
    font-weight: 300;
    line-height: 140%;
    display: inline-block;
    margin: 0 25px 0 0;
    color: $btn-default-bg;
    vertical-align: middle;
  }

  .btn-default { margin-right: 10px; }
}

.hero {
  @include background-image(linear-gradient(180deg, rgba(9, 173, 212, .458824) 0%, rgba(7, 153, 103, .6) 100%),
    image-url('polygon-background.png'),
    image-url('blurred-background.png'));
  height: 520px;

  .heading {
    @include font-size(38px);
    font-weight: 200;
    color: white;
    margin: 84px 0 95px;
  }
}

.profile {
  background: white;
  height: 300px;

  .image { padding: 0; }

  .information {
    height: 100%;
    padding: 20px 40px 0 20px;
  }

  .name {
    @include font-size(33px);
    margin: 6px 0 0;
    color: $gray-base;
  }

  .title {
    @include font-size(22px);
    font-weight: 200;
    margin: 9px 0 0;
    color: $gray-base;
  }

  .education {
    background: rgb(56, 164, 220);
    padding: 0;
    color: white;
    height: 100%;

    strong {
      @include font-size(18px);
      margin: 16px 0 0 20px;
      display: block;
      line-height: 1;
    }

    .logo { margin-top: 30px; }

    .university-name {
      display: block;
      @include font-size(22px);
      font-weight: 200;
      margin: 18px 0 0;
    }
  }

  .quote {
    background: image-url('img-placeholder.jpg') no-repeat 0% 50%;
    background-size: cover;
    height: 100%;

    .quote-icon {
      display: block;
      float: left;
      background: inline-image('quote-icon.svg') no-repeat;
      width: 42px;
      height: 39px;
      margin: 17px 0 0 5px;
      background-size: contain;
    }

    blockquote {
      @include font-size(18px);
      font-weight: 200;
      max-width: 378px;
      color: white;
      margin: 55px 0px 0px 8px;
      padding: 0;
      float: left;
      border: 0;
    }
  }
}

.past-clients {
  background: rgb(246, 249, 250);
  height: 75px;
  line-height: 75px;
  color: $gray-base;

  strong { @include font-size(18px); }
  p {
    @include font-size(18px);
    margin: 0;
    font-weight: 200;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body { margin-top: 80px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
